div.content1 div.content1left h1 {
    text-align: center;
    margin: 15px;
}

div.content1 div.content1left br {
    display: none;
}

div.content1 div.content1left p {
    display: none;
}

div.content1 div.content1right div.largeMenu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

div.content1 div.content1right div.largeMenu div {
    background-image: linear-gradient(blue, darkblue);
    width: 94vw;
    margin: 0 auto;
    border-radius: 15px;
}

div.content1 div.content1right div.largeMenu div a {
    color: white;
    text-decoration: none;
}

div.content1 div.content1right div.largeMenu div a p {
    text-align: center;
    font-size: 2em;
    padding: 15px;
    font-weight: bold;
}

@media (min-width: 500px) {

    div.content1 div.content1left h1 {
        font-size: 3em;
    }

    div.content1 div.content1right div.largeMenu div a p {
        font-size: 3em;
        padding: 25px;
    }

}

@media (min-width: 760px) {

    div.content1 div.content1left h1 {
        font-size: 3.3em;
    }

    div.content1 div.content1right div.largeMenu div a p {
        font-size: 3.8em;
        padding: 35px;
    }

}