div.content1 div.content1left h1 {
    text-align: center;
    margin: 15px;
}

div.content1 div.content1left br {
    display: none;
}

div.content1 div.content1left p {
    display: none;
}

div.content1 div.content1right div.largeMenu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

div.content1 div.content1right div.largeMenu div {
    background-image: linear-gradient(blue, darkblue);
    width: 94vw;
    margin: 0 auto;
    border-radius: 15px;
}

div.content1 div.content1right div.largeMenu div a {
    color: white;
    text-decoration: none;
}

div.content1 div.content1right div.largeMenu div a p {
    text-align: center;
    font-size: 2em;
    padding: 15px;
    font-weight: bold;
}

/* div.content1 {
    width: 94vw;
    height: calc(90vh - 70px);
    margin: 4vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

div.content1 div.content1left h1 {
    text-align: center;
    font-size: 2.5rem;
}

div.content1 div.content1left h2 {
    text-align: center;
    font-size: 2rem;
}

div.content1 div.content1left p {
    font-size: 1.5em;
}

div.content1 div.content1right div.largeMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

div.content1 div.content1right div.largeMenu div {
    background-image: linear-gradient(blue, darkblue);
    border-radius: 30px;
}

div.content1 div.content1right div.largeMenu div a {
    color: white;
    text-decoration: none;
}

div.content1 div.content1right div.largeMenu div a p {
    text-align: center;
    font-size: 45px;
    padding: 26px 0;
    font-weight: bold;
} */