/* HEADER */

header {
    background-image: linear-gradient(dodgerblue, rgb(45, 45, 255));
    height: 70px;
    display: flex;
    justify-content: left;
    width: 100%;
}

/* LOGO */

span.logoSpan1 {
    position: absolute;
    font-size: 25px;
    top: 5px;
    left: 12px;
}

span.logoSpan2 {
    position: absolute;
    font-size: 25px;
    top: 31px;
    left: 37px;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: fit-content;
    height: 70px;
    margin-left: 20px;
}

div.logo p {
    color: white;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

div.logo p a {
    color: white;
    text-decoration: none;
}

/* HEADER LINKS */

div.headerLinks {
    display: none;
}

div.headerLinks a {
    color: white;
}

/* MENU ICON */

div.menuIcon {
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    height: 30px;
    width: 37px;
    top: 20px;
    right: 20px;
}

div.menuIcon:hover {
    cursor: pointer;
}

div.menuIcon div {
    background-color: white;
    height: 6px;
    width: 100%;
    border-radius: 3px;
}

@media (min-width: 425px) {

    span.logoSpan1 {
        position: static;
        font-size: 35px;
    }

    span.logoSpan2 {
        position: static;
        font-size: 35px;
    }

    div.logo {
        display: flex;
        align-items: center;
        justify-content: left;
        width: fit-content;
        height: 70px;
        margin-left: 20px;
    }

    div.logo p {
        color: white;
        font-size: 35px;
        font-weight: bold;
        margin: 0;
    }

    div.logo p a {
        color: white;
        text-decoration: none;
    }

}

@media (min-width: 1130px) {

    div.headerLinks {
        display: flex;
        align-items: center;
        position: absolute;
        right: 15px;
        top: 0;
        height: 70px;
        column-gap: 15px;
    }

    div.headerLinks p {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
        padding: 5px 15px;
        border-radius: 8px;
        transition: .4s;
    }

    div.headerLinks p:hover, div.headerLinks p.active {
        background-color: navy;
    }

    div.headerLinks a {
        text-decoration: none;
    }

    div.menuIcon {
        display: none;
    }

}