div.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px auto 0 auto;
    width: 100%;
    max-width: 1000px;
}

div.container div {
    border-radius: 8px;
    border: solid 4px navy;
    margin: 10px 5px 0;
    height: fit-content;
}

div.container div p {
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
    text-align: center;
    border-bottom: solid 4px navy;
}

div.container div p:last-child {
    border-bottom: none;
}

div.container div:first-child p:first-child {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}

div.container div:last-child p:first-child {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}

div.container div p a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: .4s;
}

div.container div p a:hover {
    background-color: dodgerblue;
}

@media (min-width: 560px) {

    div.container {
        gap: 5px;
    }

    div.container div {
        margin: 10px 10px 0 10px;
    }

}

@media (min-width: 1024px) {

    div.container {
        grid-template-columns: 1fr;
    }

    div.container div p {
        font-size: 35px;
    }
}

@media (min-width: 1650px) {
    
    div.container div p {
        font-size: 40px;
    }

}

@media (min-width: 1840px) {

    div.container div p {
        font-size: 60px;
    }

    div.container {
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 2000px;
    }

}